/* DashboardComponent's private CSS styles */

h2 {
    text-align: center;
    margin: 15px;
    flex: 0 1 100%;
  }
  
.heroes-menu {
    padding: 15px 30px;
    margin: auto;
    max-width: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}
  
a {
    background-color: #3f525c;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    min-width: 70px;
    margin: .5rem auto;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}
  
/* @media (min-width: 600px) {
    a {
      width: 18%;
      box-sizing: content-box;
    }
} */
  
a:hover {
    background-color: black;
}