/* AppComponent's private CSS styles */
/* h1 {
    margin-bottom: 0;
  } */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding: 15px 30px;
    background-color: var(--neudarkblue);
    max-width: 750px;
    margin: 10px auto;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

nav a {
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
}

/* nav a:not(:last-child) {
    margin-right: 10px;
} */

  
  
  nav a:hover {
    color: white;
    background-color: #42545C;
  }
  nav a.active {
    background-color: black;
  }

@media screen and (max-width: 750px) {
    nav div {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}